<div class="continaire">
    <div class="panel-heding">
        <fieldset>        
            <legend><h2>Information personnelles</h2></legend>
                <div class="panel-body">
                    <ul class="list-group">
                        <li>Nom et prenom :{{NomPrenom}}</li>
                        <li>Ne le {{LieuNaiss}}</li>
                        <li>genre {{genre}}</li>
                        <li>adress {{adress}}</li>
                    </ul>
                    <img [src]="photo" alt="ma photo"/>
                </div>
        </fieldset>
    </div>
</div>


